# Playwright
# this for folder

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/reporting-labs/
/allure-report/
/allure-results/
reporting-labs.history.json

#env files
config/.env.*
!config/.env.example

#build
dist/

# for files directly
reporting-labs.history.json